<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <TargetFramework>net9.0-windows10.0.19041.0</TargetFramework>
    <RuntimeIdentifierOverride>win10-x64</RuntimeIdentifierOverride>
    <WindowsPackageType>MSIX</WindowsPackageType>
    <GenerateAppxPackageOnBuild>true</GenerateAppxPackageOnBuild>
    <WindowsAppSDKSelfContained>true</WindowsAppSDKSelfContained>
    <SelfContained>true</SelfContained>
    <AppxBundle>Never</AppxBundle>
    <AppxBundlePlatforms>x64</AppxBundlePlatforms>
    <AppxPackageSigningEnabled>true</AppxPackageSigningEnabled>
    <AppxPackageDir>bin\Release\net9.0-windows10.0.19041.0\win10-x64\AppPackages\</AppxPackageDir>
  </PropertyGroup>
</Project>
